{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ru/footer.css' %}">
    <link rel="stylesheet" href="{% static 'ru/index.css' %}">
    <link rel="icon" href="{% static 'ru/favicon.ico' %}">
    <title>RU API</title>
</head>

<body>
    <h1>RU API: Jantar como um Serviço</h1>
    <div class="cols">
        <div>
            <div class="about parbody">
                <h2>Sobre a RU API</h2>
                <p>
                    A RU API é uma implementação de leitura de posts do <del>Facebook</del> site do
                    Restaurante Universitário da Universidade Federal de São Carlos. Os
                    resultados são compilados e disponibilizados publicamente.
                </p>
                <p>
                    A API está em constante mudança, buscando adaptar ao ambiente dinâmico
                    do nosso conjunto de dados. Já passamos por várias implementações,
                    usamos ferramentas de visão computacional, processamento de imagens,
                    junto com vários métodos de coleta de dados.
                </p>
                <p>
                    Nosso principal objetivo é transformar o fluxo caótico de dados de
                    entrada que é o cardápio oficial em uma forma digerível e fácil de
                    interagir com programas de computador. O principal consumidor do nosso
                    serviço é o aplicativo móvel UFSCar Planner.
                </p>
            </div>
            <div class="menu parbody">
                <h2>Cardápios Disponíveis</h2>
                <p>
                    Além da API em si, também disponibilizamos os resultados de
                    forma digerível em HTML:
                </p>
                <ul>
                    {% for item in campi %}
                    <li>
                        <a href="menu/{{ item.url }}">
                            Cardápio {{ item.display }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="parbody">
                <h2>Documentação da API</h2>
                <h3><code>GET /ru_api/</code></h3>
                <p>
                    Retorna um vetor de objetos, com os seguintes atributos:
                </p>
                <ul>
                    <li><code>id</code>: Um número identificador único no vetor.</li>
                    <li><code>meal_type</code>: O tipo da refeição servida, pode ser "Almoço" ou "Jantar".</li>
                    <li>
                        <code>created_at</code>:
                        Uma string ISO-8601 de quando o objeto foi criado.
                    </li>
                    <li><code>date</code>: A data da refeição no formato YYYY-MM-DD.</li>
                    <li>
                        <code>main_dish_unrestricted</code>:
                        O prato principal - sem restrição, ou "Não Definido".
                    </li>
                    <li>
                        <code>main_dish_vegetarian</code>:
                        O prato principal - vegetariano, ou "Não Definido".
                    </li>
                    <li>
                        <code>main_dish_extra</code>:
                        O prato principal - extra com ovo, ou "Não Definido".
                    </li>
                    <li>
                        <code>garnish</code>:
                        A guarnição, ou "Não Definido".
                    </li>
                    <li>
                        <code>accompaniment</code>:
                        O acompanhamento, ou "Não Definido".
                    </li>
                    <li>
                        <code>salads</code>:
                        A(s) salada(s), ou "Não Definido".
                    </li>
                    <li>
                        <code>salads</code>:
                        A(s) salada(s), ou "Não Definido".
                    </li>
                    <li>
                        <code>dessert</code>:
                        A sobremesa, ou "Não Definido".
                    </li>
                    <li>
                        <code>juice</code>:
                        O(s) suco(s), ou "Não Definido".
                    </li>
                </ul>
                <h3><code>GET /ru_api/notice/</code></h3>
                <p>
                    Retorna <code>false</code> se nenhum aviso importante existir,
                    ou, caso exista, um objeto com os seguintes atributos:
                </p>
                <ul>
                    <li><code>title</code>: O título do aviso.</li>
                    <li><code>description</code>: Uma descrição curta sobre o aviso.</li>
                    <li><code>content</code>: O texto do corpo do aviso.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div><a href="https://petbcc.ufscar.br">Site do PET BCC</a></div>
        <div><a href="/ru_api/index.html">Sobre a RU API</a></div>
    </footer>
</body>

</html>