appdirs==1.4.4
APScheduler==3.9.1
asgiref==3.5.2
certifi==2022.5.18.1
dj-database-url==0.5.0
Django==4.0.5
django-apscheduler==0.6.2
djangorestframework==3.13.1
importlib-metadata==4.11.4
packaging==21.3
Pillow==9.1.1
psycopg2-binary==2.9.3
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==1.0.2
pytesseract==0.3.9
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
websockets==10.3
zipp==3.8.0
